<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Non-Profit Crowdfunding App</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">

        <h1>Non-Profit Crowdfunding App</h1>
        <h2>Support a nonprofit. Make a difference. </h2>
        <p>this is info about the website.</p>
      </div>
    </div>

    <!-- page content -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">

            <!-- new post form-->
            <form class="form-inline" id="create-project">
              <div class="form-group">
                <input type="text" name="nonprofit" class="form-control" placeholder=" Nonprofit Name" autofocus required>
              </div>
              <div class="form-group">
                <input type="text" name="money_needed" class="form-control" placeholder="Money Needed" autofocus required>
              </div>
              <div class="form-group">
                <input type="text" name="project_description" class="form-control" placeholder="Project Description" required>
              </div>
              <div class="form-group">
                <input type="text" name="nonprofit_description" class="form-control" placeholder="Nonprofit Description" required>
              </div>
              <div class="form-group">
                <input type="text" name="photo" class="form-control" placeholder="Photo" required>
              </div>
              <div class="form-group">
                <input type="text" name="donation_description" class="form-control" placeholder="Donation Description" required>
              </div>
              <div class="form-group">
                <input type="submit" class="btn btn-default" value="Add Project">
              </div>
            </form>

            <!-- list of posts -->
            <ul class="list-group" id="projects-list">

            <!-- handlebars template -->
            <script id="projects-template" type="text/x-handlebars-template">
              \{{#each projects}}
              <div class="col-md-9 col-xs-12">
                <ul class="list-group">
                  <h4 class='inline-header'>Photo:</h4>
                  <img class='img-responsive' src=\{{photo}}>

                  <h4 class='inline-header'>Nonprofit:</h4>
                  <span class='nonprofit'>\{{nonprofit}}</span>

                  <h4 class='inline-header'>Money Needed:</h4>
                  <span class='money-needed'>\{{money_needed}}</span>

                  <h4 class='inline-header'>Project Description:</h4>
                  <span class='project-description'>\{{project_description}}</span>

                  <h4 class='inline-header'>Nonprofit Description:</h4>
                  <span class='donation-description'>\{{nonprofit_description}}</span>

                  <h4 class='inline-header'>Donation Description:</h4>
                  <span class='donation-description'>\{{donation_description}}</span>
                </ul>
              </div>
              \{{/each}}




            </script>
          </ul>














  </body>
</html>
